* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

body {
	font-family: "Verdana", sans-serif;
	background: grey;
}

div {
}

fieldset {
	margin-top: 20px;
}

footer {
	width: 100%;
	color: grey;
	height: 170px;
	bottom: 0;
	position: relative;
	background-color: black;
	font-size: 12px;
}

h2 {
    margin-bottom: 1.5em;
}

iframe {
	height: 400px;
	width: 100%;
	margin: 20px 13px;
}

input:focus, input:hover {
	box-shadow: 2px 2px 2px black;
}

form {
	text-align: right;
}

footer p {
	padding-top: 40px;
	margin-top: 0;
	text-align: center;
}

.active-menu li{
	color: white;
	background-color: hsla(200, 100%, 10%, .5);
}

.accredit {
	bottom: 5px;
	padding: 10px;
	right: 20px;
	position: absolute;
}

.btn {
  padding: 1em 2em;
  background: rgba(0,0,0,.7);
  color: white;
  display: inline-block;
  text-decoration: none;
  margin-top: 40px;
  border-radius: 10px;
}

.col-4 {
  text-align: center;
  padding: 2em;
  flex: 1;
  min-width: 15em;
}

.col-4 a {
  bottom: 10px;
  position: relative;
}

.col-6 {
    flex: 1;
    text-align: center;
    padding: 3em;
}

.login-form {
	padding-top: 20px;
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	width: 310px;
}

.main-menu a {
	text-decoration: none;
	color: #cccccc;
    padding: 1.5em;
}

.main-menu li:hover {
	transition: .35s background-color, .35s color;
	color: white;
	background-color: hsla(200, 100%, 10%, .5);
}

.main-menu li {
	padding:1.5em 0;
	list-style: none;
    display: inline-block;
}

.main-menu ul {
	text-align: center;
    justify-content: center;
}

.main-menu li:first-child {
    float: left;
}

.main-menu li:last-child {
    float: right;
}

.main-menu {
	background-color: rgba(0,0,0,0.6);
	text-transform: uppercase;
	text-align: center;
}

.row {
	padding-bottom: 40px;
	background-color: #9FCACF;
    display: flex;
    flex-wrap: wrap;
}

.map {
    background: black;
    color: white;
    
}


.splash {
  background: url("https://images.unsplash.com/photo-1433838552652-f9a46b332c40?q=80&fm=jpg&s=97cb7cd5e219e932365f3bcff3950eda") no-repeat center center;
  background-size: cover;
  height: 400px;
  text-align: center;
}

.splash h1 {
  padding-top: 50px;
}

.splash a {
  padding: 1.5em 3em;
  background: rgba(0,0,0,.7);
  color: white;
  text-align: center;
  text-decoration: none;
  margin-top: 3em;
  border-radius: 10px;
  display: inline-block;
}

.support {
    padding: 3em;
    text-align: center;
}

.username, .password {
	float: left;
}


#site-map a {
	text-decoration: none;
	width: 100%;
	color: #4C7C91;
}

#site-map ul {
	width: 100%;
	padding-top: 20px;
	text-align: center;
}

#site-map li {
	display: inline;
	list-style: none;
	border-right: solid #1A2F38 1px;
}





@media only screen and (max-device-width: 480px) {

}