a {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Verdana", sans-serif;
	background: grey;
	margin: 0 auto;
	min-width: 800px;
	max-width: 1500px;
  font-style: 
}

div {
}

fieldset {
	margin-top: 20px;
}

footer {
	width: 100%;
	color: grey;
	height: 170px;
	bottom: 0;
	position: relative;
	background-color: black;
	font-size: 12px;
}

iframe {
	height: 250px;
	width: 350px;
	margin: 20px 13px;
}

input:focus, input:hover {
	box-shadow: 2px 2px 2px black;
}

nav {
	width: 100%;
	min-width: 800px;
}

p {
	margin-left: 20px;
}

table {
	margin-right: auto;
	margin-left: auto;
}

form {
	text-align: right;
}

footer p {
	padding-top: 40px;
	margin-top: 0;
	text-align: center;
}

.active-menu li{
	color: white;
	background-color: hsla(200, 100%, 10%, .5);
}

.accredit {
	bottom: 5px;
	padding: 10px;
	right: 20px;
	position: absolute;
}

.branding {
	background: black;
	height: 150px;
	color: white;
	text-align: center;
	padding: 0;
	margin: 0px;
}

.branding h1 {
	padding-top: 20px;
	margin-top: 0px;
}

.container {
	padding-bottom: 20px;
	margin-top: 45px;
	background-color: #9FCACF;
	padding-left: 10px;
	padding-right: 10px;
}

.container h1{
	padding-top: 20px;
	margin-left: 100px;
}

.left-panel {
	max-width: 800px;
}

.right-panel {
	width: 375px;
	background-color: hsla(200, 100%, 10%, .2);
	float: right;
	height: 100%;
}

.login-form {
	padding-top: 20px;
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	width: 310px;
}

.main-menu a {
	padding-top: 14px;
	margin-top: -15px;
	text-decoration: none;
	color: grey;
	border-right: solid hsla(200, 100%, 10%, .5) 1px;
	flex: 1;
	-webkit-flex: 1;
}

.main-menu li:hover {
	transition: .35s background-color, .35s color;
	color: white;
	background-color: hsla(200, 100%, 10%, .5);
}

.main-menu li {
	padding: 13px;
	margin-top: -15px;
	list-style: none;
	/*display: inline;*/
}

.main-menu ul {
	padding: 0;
	display: flex;
	-webkit-display: flex;
	text-align: center;
}

.main-menu {
	min-width: 800px;
	background-color: hsla(200, 100%, 14%, .8);
	margin: 0;
	height: 45px;
	position: absolute;
	min-width: 625px;
	text-transform: uppercase;
	text-align: center;
}

.username, .password {
	float: left;
}


#site-map a {
	text-decoration: none;
	width: 100%;
	color: #4C7C91;
}

#site-map ul {
	display: flex;
	-webkit-display: flex;
	list-style: none;
	width: 100%;
	padding: 0;
	padding-top: 20px;
	text-align: center;
	margin: 0;
}

#site-map li {
	display: inline;
	flex: 1;
	-webkit-flex: 1;
	list-style: none;
	border-right: solid #1A2F38 1px;
}





@media only screen and (max-device-width: 480px) {

}