#fetch-button {
  background: lightblue;
  width: 10em;
  text-align: center;
  padding: 1em;
  cursor: pointer;
}

svg {
  padding: 20px;
}

#data-info {
  height: 1.5em;
}

rect:hover {
  fill: orange;
}