* {
  margin: 0;
  padidng: 0;
  box-sizing: border-box;
}

body, html {
  background: grey;
  height: 100%;
  width: 100%;
  display: flex;
}

#map {
  height: 100%;
  width: 100%;
}

div.info-window {
  max-width: 20em
}

div.info-window h2 {
  text-align: center;
  padding: 1em 0em;
}

div.info-window img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1em;
}