* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body, html {
  background: #2B8279;
  height: 100%;
  width: 100%;
  display: flex;
}

#map {
  height: 100%;
  width: 100%;
}

aside#place-list {
  width: 15em;
}

input {
  width: 14.5em;
  margin: 1em;
}

ul {
  list-style: none;
}

li {
  color: #ddd;
  padding: 1em;
  border-bottom: 1px solid #999;
  cursor: pointer;
}

li.selected {
  background: black;
}

li.filtered {
  display: none;
}

div.info-window {
  max-width: 20em
}

div.info-window h2 {
  text-align: center;
  padding: 1em 0em;
}

div.info-window img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1em;
}