* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Anonymous Pro', serif;
}

#word p {
  text-align: center;  
}

#word {
  padding-left: .55em;
  text-align: center;
  font-size: 4em;
  text-transform: uppercase;
  margin-top: .4em;
  height: 1.2em;
  transition: all 1s ease-in-out;
  letter-spacing: .5em;
}

#word.victory, .victory {
  padding-left: 0;
  letter-spacing: 0em;
  color: #2E7326;
}

#guessed-letters, .message {
  font-size: 2em;
  text-transform: uppercase;
  margin: 1em;
  height: 1em;
  text-align: center;
}

.red {
  color: #842424 ;
  transition: all 1s ease-in-out;
}

.message {
  text-transform: none;
}

#hangman {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer {
  text-align: center;
  margin-top: 4em;
  color: #777;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer p {
  margin-top: .5em;
}