#word {
  text-align: center;
  font-size: 4em;
  text-transform: uppercase;
  margin-top: 1em;
  height: 1.2em;
}

#guessed-letters {
  font-size: 2em;
  text-transform: uppercase;
  margin: 1em;
  color: red;
  height: 1.5em;
}

#hangman {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#refresh {
  width: 7em;
  text-align: center;
  padding: 1em;
  background-color: teal;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

#refresh:hover {
  background-color: darkcyan;
  cursor: pointer;
  
}